body {
  color: black;
  font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-family: verdana;
}  
@media (prefers-color-scheme: dark) {
	body {
	  color: white;
	  background: #292929;
	}
 }

h1 {
	color: orange;
}

h2 {
	padding: 0em, 0em, 0em, 1em;
}

h4 {
	text-align: left;
}

p {
	color: black;
}
@media (prefers-color-scheme: dark) {
p {
	color: white;
}	

h2.lights-on {
	color: #63CC62;
}

h2.http-status {
	color: #027AFF;
}

#kern, #tronics {
	text-align: center;
    font-family: verdana;
    font-size: 10em;

	font-weight: 700;
    color: orange;
    text-shadow: 1px 1px 1px #D2691E,
        1px 2px 1px #D2691E,
        1px 3px 1px #D2691E,
        1px 4px 1px #D2691E,
        1px 5px 1px #D2691E,
        1px 6px 1px #D2691E,
        1px 7px 1px #D2691E,
        1px 8px 1px #D2691E,
        1px 9px 1px #D2691E,
        1px 10px 1px DarkOrange;
	width:100%;
	display: block;
    overflow: hidden;
}

#tronics {
	margin-top: -0.5em;
	font-size: 4.35em;
	padding-bottom: 1em;
}

.card {
	width: 80%;
}

.squircle {
	display: block;
 	margin-left: auto;
 	margin-right: auto;
	width: 300px;
	border-radius: 23.6%;
	padding: 2%;
	float: left;
	clear: both;
}

.info {
	clear: both;
}
}
